<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Awaiken">
    <!-- Page Title -->
    <title>Builtup - Construction HTML Template</title>
    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
    <!-- Google Fonts Css-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <!-- Bootstrap Css -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
 
    <!-- SlickNav Css -->
    <link href="css/slicknav.min.css" rel="stylesheet">
    <!-- Swiper Css -->
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <!-- Font Awesome Icon Css-->
    <link href="css/all.css" rel="stylesheet" media="screen">
    <!-- Animated Css -->
    <link href="css/animate.css" rel="stylesheet">
    <!-- Magnific Popup Core Css File -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- Mouse Cursor Css File -->
    <link rel="stylesheet" href="css/mousecursor.css">
    <!-- Main Custom Css -->
    <link href="css/custom.css" rel="stylesheet" media="screen">
</head>

<body>

    <!-- Preloader Start -->
    <div class="preloader">
        <div class="loading-container">
            <div class="loading"></div>
            <div id="loading-icon"><img src="images/loader.svg" alt=""></div>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- Header Start -->
    <header class="main-header" style="width: 100%;">
        <div class="header-sticky">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <!-- Logo Start -->
                    <a class="navbar-brand" href="./">
						<img src="images2/reliable.png" alt="" class="logoreliable"></a>
                    <!-- Logo End -->

                    <!-- Main Menu Start -->
                    <div class="collapse navbar-collapse main-menu">
                        <div class="nav-menu-wrapper">
                            <ul class="navbar-nav mr-auto" id="menu">
                                <li class="nav-item"><a class="nav-link" href="/">Home</a>
                                <li class="nav-item"><a class="nav-link" href="about">About Us</a></li>
                                <li class="nav-item submenu"><a class="nav-link" href="service">Services</a>
                                    <ul>
                                        <li class="nav-item"><a class="nav-link" href="addition-service">Addition 
                                        </a></li>
                                        <li class="nav-item"><a class="nav-link" href="basement">Basement
                                        </a></li>
                                        <li class="nav-item"><a class="nav-link" href="renovation">Renovations
                                        </a></li>
                                        <li class="nav-item"><a class="nav-link" href="roofing">Roofing 
                                        </a></li>
                                        <li class="nav-item"><a class="nav-link" href="siding">Siding</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="blog">Blog</a></li>
                                <li class="nav-item"><a class="nav-link" href="./contact">Contact us</a></li>
                                
                                <%- include('auth-button-mobile.ejs') %> 
                            </ul>
                        </div>
                        <%- include('auth-button.ejs') %> 
                    </div>
                    <!-- Main Menu End -->
                    <div class="navbar-toggle"></div>
                </div>
            </nav>
            <div class="responsive-menu"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Start -->
    <div class="hero bg-section parallaxie">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <!-- Hero Content Start -->
                    <div class="hero-content">
                        <div class="section-title">
                            <h1 class="text-anime-style-3" data-cursor="-opaque">About Us
                            </h1>
                            <a class="wow fadeInUp" data-wow-delay="0.25s" href="/" style="color: #fff; text-decoration:none; ">Home / <span style="color: #ffb703;">About us</span></a>
                        </div>
                    </div>
                    <!-- Hero Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Section End -->

    <!-- About Section Start -->
   <%- include('about-us-section.ejs') %>
    <!-- About Section End -->
    <div class="about-us">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <!-- About Us Image Start -->
                    <div class="about-image">
                        <div class="about-img">
                            <figure class="reveal">
                                <img src="images/about-us-img.png" alt="">
                            </figure>
                        </div>
                    </div>
                    <!-- About Us Image End -->
                </div>

                <div class="col-lg-7">
                    <!-- About Content Start -->
                    <div class="about-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">our history
                            </h3>
                            <h2 class="text-anime-style-3" data-cursor="-opaque">Crafting structures
                                that last a lifetime
                                </h2>
                            <p class="wow fadeInUp" data-wow-delay="0.25s">We specialize in a wide range of construction services, including residential, commercial, and industrial projects. From initial design to final inspection, we work closely with our clients to understand their unique needs and vision.

                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
                                
                                </p>
                        </div>
                        <!-- Section Title End -->

                        </div></div></div></div>
                            

                        <div class="container mb-5">
                            <div class="row text-center">
                                <!-- Our Mission -->
                                <div class="col-md-4">
                                    <div class="bg-white rounded shadow-sm p-4" style="margin-top: 30px; border:1px solid grey;"> <div class="mb-4">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M33.0175 4.4549C32.7919 4.48634 31.869 4.61049 30.9667 4.7308C28.9454 5.00013 25.681 5.80924 23.8573 6.49297C15.4618 9.64037 9.28979 15.9352 6.29524 24.4042C5.7377 25.9809 5.14257 28.4146 4.83413 30.3792C4.49329 32.5495 4.49507 37.4594 4.83755 39.6484C6.08497 47.624 9.94058 54.4331 15.8244 59.0518C17.9625 60.7301 21.7014 62.7628 24.3557 63.6902C25.948 64.2467 29.1403 65.0231 30.8983 65.2818C39.1315 66.4931 47.5347 64.1929 54.1405 58.9197C55.4754 57.854 58.1376 55.1713 59.1543 53.8671C61.8259 50.4401 63.9166 46.0111 64.8758 41.7467C66.3997 34.9718 65.5449 27.5846 62.5441 21.5949C61.9733 20.4559 61.6106 20.0976 61.0279 20.0976C60.7346 20.0976 60.0194 20.8447 60.0194 21.1511C60.0194 21.2911 60.3519 22.1418 60.7583 23.0415C62.781 27.5209 63.6721 32.2197 63.3041 36.4657C62.9213 40.882 62.0046 44.369 60.293 47.9198C56.2822 56.2404 48.4274 61.7401 38.6913 63.0446C37.0643 63.2627 32.8486 63.2623 31.3085 63.0439C23.6952 61.9648 17.2333 58.4529 12.9243 53.0524C7.47841 46.2271 5.29938 36.154 7.46378 27.8106C9.97175 18.1425 17.8257 10.3301 27.7798 7.60203C30.6444 6.81699 32.0935 6.63228 35.3417 6.63816C38.3889 6.64363 39.5936 6.7891 42.246 7.47228C43.6568 7.83568 46.1471 8.78615 47.6088 9.51924C48.6703 10.0516 49.0502 10.0894 49.4646 9.70312C49.8738 9.32195 49.9635 8.85478 49.7183 8.38064C49.5607 8.0759 49.1633 7.81709 48.0323 7.28279C45.5328 6.10181 42.6267 5.19646 39.7831 4.71275C38.5509 4.50316 33.9323 4.32707 33.0175 4.4549ZM52.0065 10.2689C49.6406 12.6293 47.6722 14.689 47.6322 14.8461C47.5921 15.0032 47.6557 16.3252 47.7734 17.7842L47.9874 20.4366L40.9467 27.482C34.5196 33.9137 33.9061 34.5665 33.9061 34.975C33.9061 35.5754 34.4244 36.0937 35.0248 36.0937C35.4333 36.0937 36.0861 35.4802 42.5178 29.0531L49.5632 22.0125L52.2157 22.2264C53.6746 22.3441 54.9967 22.4077 55.1537 22.3677C55.3108 22.3276 57.3705 20.3593 59.7309 17.9933C63.9549 13.7597 64.021 13.6846 63.9316 13.238C63.7512 12.3354 63.5823 12.2732 60.7071 12.0507L58.1054 11.8495L58.0987 11.4277C58.0948 11.1957 58.0124 10.033 57.9155 8.84398C57.7205 6.45496 57.632 6.24222 56.7618 6.06818C56.3152 5.97877 56.2401 6.04494 52.0065 10.2689ZM52.7847 12.6345L49.8567 15.5655L50.0178 17.6507C50.1064 18.7977 50.1978 19.7551 50.2211 19.7783C50.2442 19.8016 51.2035 19.8914 52.3528 19.9779L54.4423 20.1353L57.3693 17.2112L60.2961 14.287L58.5513 14.1432C56.7635 13.9957 56.3019 13.8616 56.1188 13.4364C56.0614 13.3027 55.9464 12.4081 55.8636 11.4485L55.7128 9.70367L52.7847 12.6345ZM33.3593 14.2969C33.1713 14.3295 32.556 14.4225 31.9921 14.5035C24.1107 15.6352 17.8874 20.7276 15.433 28.0536C14.5803 30.5987 14.4326 31.6269 14.4356 34.9999C14.4381 37.6592 14.479 38.2585 14.7382 39.4214C16.5053 47.3533 21.9286 53.0383 29.5995 55.0001C31.9274 55.5954 32.8916 55.7123 35.41 55.7043C37.3445 55.6983 38.0602 55.6399 39.1477 55.3993C45.3707 54.0221 50.5616 50.1244 53.3694 44.7203C54.3221 42.8867 54.8364 41.4911 55.3177 39.4328C55.6659 37.944 55.6995 37.5654 55.7059 35.0683C55.7118 32.695 55.6712 32.1481 55.3976 30.9269C54.9526 28.9399 54.5045 27.6229 53.7316 26.0302C53.188 24.9102 52.982 24.6156 52.6437 24.4756C52.3081 24.3365 52.1451 24.3364 51.8111 24.4748C50.9491 24.8317 50.9349 25.3529 51.7422 26.9937C53.0494 29.6504 53.5183 31.7092 53.519 34.7948C53.5195 37.2261 53.2585 38.7757 52.4739 40.9993C50.5385 46.4844 46.1645 50.8834 40.9076 52.6313C38.7918 53.3347 37.7306 53.4993 35.2733 53.5051C32.726 53.511 31.3044 53.3055 29.2502 52.6342C26.4461 51.7179 24.1477 50.2856 21.9259 48.0698C19.1508 45.3024 17.491 42.1898 16.7259 38.3181C16.3942 36.6399 16.3952 33.0332 16.7277 31.4452C18.1299 24.7483 22.8662 19.5369 29.5273 17.3618C31.7211 16.6456 32.8166 16.4775 35.2733 16.4808C38.2926 16.4848 40.3759 16.9636 43.0061 18.2576C44.6469 19.0649 45.1681 19.0507 45.525 18.1887C45.6634 17.8547 45.6633 17.6917 45.5242 17.3561C45.3841 17.0176 45.0906 16.8125 43.9696 16.2699C41.2034 14.9308 38.8573 14.3602 35.8202 14.288C34.6547 14.2602 33.5473 14.2642 33.3593 14.2969ZM32.9491 24.2678C30.5837 24.746 28.9129 25.6289 27.2575 27.2753C26.1569 28.37 25.9279 28.6857 25.3207 29.9468C24.3783 31.9039 24.1481 32.8961 24.1481 34.9999C24.1481 37.1037 24.3783 38.0959 25.3207 40.053C25.9266 41.3113 26.1601 41.6339 27.263 42.7368C28.3659 43.8397 28.6885 44.0733 29.9468 44.6791C31.9237 45.6309 32.8932 45.8546 35.0683 45.8606C37.1812 45.8665 38.0601 45.6685 39.8534 44.7821C42.0957 43.6739 43.6752 42.0943 44.7814 39.8534C45.5341 38.3289 45.7951 37.3518 45.8953 35.6835C46.0328 33.3961 45.5729 31.2887 44.8521 30.9029C44.4403 30.6825 43.966 30.7357 43.6407 31.0389C43.2051 31.4445 43.1541 31.8533 43.426 32.7579C43.7443 33.8168 43.7407 35.971 43.4185 37.1874C42.6607 40.0484 40.711 42.1947 37.9815 43.1727C37.0895 43.4922 36.7768 43.5314 35.0683 43.5377C32.8135 43.5461 31.88 43.3057 30.2551 42.2981C27.7445 40.7416 26.3336 38.0624 26.3393 34.8632C26.3415 33.6603 26.4026 33.2505 26.7161 32.3353C27.6601 29.5793 29.5868 27.6536 32.3352 26.7187C33.7459 26.239 35.6244 26.1866 37.2398 26.5823C38.201 26.8177 38.3559 26.8245 38.6735 26.6464C39.4921 26.1869 39.3882 25.1523 38.4727 24.6473C37.4581 24.0876 34.7579 23.902 32.9491 24.2678Z" fill="#FFB703"></path></svg>
                                    </div>
                                        <h3 class="font-weight-bold">Our Mission</h3>
                                        <p class="text-muted">
                                            Simple actions make a difference. It starts and ends with each employee striving to work safer every single day so they can return.
                                        </p>
                                    </div>
                                </div>
                                <!-- Our Vision -->
                                <div class="col-md-4">
                                    <div class="bg-white rounded shadow-sm p-4"style="margin-top: 30px; border:1px solid grey;"> <div class="mb-4">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M34.2419 12.0935L33.9062 12.429V15.6242C33.9062 18.7875 33.9094 18.8225 34.2226 19.1168C34.6563 19.5241 35.4043 19.5151 35.7965 19.0977C36.084 18.7914 36.0938 18.678 36.0938 15.6051V12.429L35.7581 12.0935C35.5466 11.8818 35.2663 11.7578 35 11.7578C34.7337 11.7578 34.4534 11.8818 34.2419 12.0935ZM12.6465 16.298C12.0478 16.6413 11.8735 17.2222 12.1907 17.8166C12.4013 18.2113 15.1175 21.8385 15.5626 22.3193C16.2564 23.069 17.5 22.6394 17.5 21.6501C17.5 21.3341 17.0829 20.6816 15.715 18.8569C13.6682 16.1269 13.3734 15.8811 12.6465 16.298ZM56.37 16.3092C56.2051 16.4009 55.2668 17.5474 54.285 18.8569C52.3778 21.4009 52.2612 21.6712 52.7834 22.3351C53.185 22.8457 53.9571 22.8383 54.4374 22.3193C54.8825 21.8385 57.5987 18.2113 57.8093 17.8166C58.1327 17.2107 57.9467 16.6212 57.3284 16.2918C56.9559 16.0936 56.7513 16.0973 56.37 16.3092ZM31.4453 22.3703C29.9682 22.5455 27.9271 22.8931 26.7285 23.174C19.9321 24.7661 13.5972 28.4981 8.90777 33.6726C6.74734 36.0564 4.375 39.5023 4.375 40.2564C4.375 41.0673 7.17623 44.982 9.49238 47.4079C15.0469 53.2256 22.2004 56.8218 30.5566 57.9969C32.1669 58.2235 37.8331 58.2235 39.4434 57.9969C47.7656 56.8266 54.8532 53.2885 60.3631 47.5541C62.7856 45.0327 65.625 41.0948 65.625 40.2564C65.625 39.8033 64.595 38.0819 63.252 36.2903C58.4519 29.8877 51.7362 25.3723 44.031 23.367C40.9557 22.5667 39.5076 22.3933 35.5469 22.3517C33.5542 22.3307 31.7085 22.339 31.4453 22.3703ZM31.7188 24.6114C23.4686 25.4696 15.9768 29.1945 10.608 35.1077C9.38697 36.4525 7.53703 38.8829 7.0823 39.7398L6.78002 40.3096L7.53895 41.4487C12.1222 48.3282 19.4629 53.3608 27.5442 55.164C30.1217 55.7391 31.937 55.9259 34.9567 55.927C39.2191 55.9285 42.0202 55.495 45.7043 54.2638C52.4136 52.0215 58.3473 47.5187 62.3161 41.6575L63.2239 40.317L62.9196 39.7435C62.4803 38.9156 60.639 36.4852 59.4424 35.1537C54.5349 29.6927 47.4034 25.9153 39.9131 24.8093C38.2144 24.5584 33.3557 24.4411 31.7188 24.6114ZM32.8125 27.2694C29.8371 27.8198 27.3792 29.1665 25.3318 31.3678C23.6354 33.1918 22.3866 35.7833 22.0004 38.2812C21.7863 39.6659 21.9149 42.1783 22.2685 43.5154C23.2343 47.1685 25.7677 50.2981 29.0883 51.9401C31.34 53.0537 32.9127 53.3827 35.5116 53.2841C38.2473 53.1803 39.9905 52.6385 42.1786 51.2124C44.876 49.454 46.9139 46.6372 47.7258 43.5449C48.0851 42.1764 48.2152 39.6754 47.9996 38.2812C47.2034 33.132 43.3096 28.8185 38.29 27.525C36.6558 27.1038 34.301 26.994 32.8125 27.2694ZM32.5888 29.5904C29.4772 30.2978 26.6864 32.4927 25.2427 35.3682C25.0466 35.7585 24.7238 36.6198 24.5253 37.2822C24.2245 38.2854 24.1634 38.7602 24.1585 40.127C24.1546 41.2087 24.2297 42.0816 24.3787 42.6892C25.2874 46.3932 27.885 49.2892 31.3891 50.5049C37.536 52.6375 44.0597 49.055 45.6213 42.6892C45.7703 42.0816 45.8454 41.2087 45.8415 40.127C45.8329 37.7089 45.2223 35.8169 43.8056 33.8185C42.5734 32.0802 40.6135 30.6487 38.445 29.903C37.3904 29.5403 37.0393 29.4887 35.3418 29.4469C34.0387 29.4148 33.1599 29.4607 32.5888 29.5904ZM33.6476 33.7807C32.6285 33.9809 31.3432 34.6742 30.4994 35.4791C28.1788 37.6925 27.7689 41.1435 29.5072 43.8329C30.1906 44.8904 30.9962 45.5797 32.2656 46.1936C33.2772 46.6828 33.3141 46.6895 35.0071 46.6895H36.7232L37.8098 46.1539C40.1651 44.993 41.5655 42.7705 41.5609 40.2008C41.5535 36.0938 37.7173 32.9815 33.6476 33.7807ZM33.1543 36.346C31.5742 37.0947 30.7102 38.4569 30.702 40.2127C30.6975 41.1389 30.7501 41.3596 31.1737 42.1899C32.4696 44.7304 35.6424 45.3343 37.9034 43.4707C38.1899 43.2344 38.5983 42.6653 38.8544 42.1452C39.9476 39.9246 39.0737 37.4017 36.8457 36.346C36.1711 36.0263 35.8433 35.9573 35 35.9573C34.1567 35.9573 33.8289 36.0263 33.1543 36.346Z" fill="#FFB703"></path></svg>
                                    </div>
                                        <h3 class="font-weight-bold">Our Vision</h3>
                                        <p class="text-muted">
                                            Simple actions make a difference. It starts and ends with each employee striving to work safer every single day so they can return.
                                        </p>
                                    </div>
                                </div>
                                <!-- Our Values -->
                                <div class="col-md-4">
                                    <div class="bg-white rounded shadow-sm p-4" style="margin-top: 30px; border:1px solid grey;"> <div class="mb-4">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M44.324 3.44532C44.208 3.56126 44.1599 4.35819 44.1599 6.1585C44.1599 8.45442 44.1848 8.73005 44.41 8.9339C44.7422 9.23454 45.0578 9.21936 45.3904 8.88673C45.6428 8.63434 45.6638 8.43104 45.6638 6.2512C45.6638 4.3344 45.6236 3.83169 45.451 3.58518C45.2165 3.25036 44.5959 3.17339 44.324 3.44532ZM31.5346 6.94929C31.4102 7.08682 31.3084 7.30011 31.3084 7.42329C31.3084 7.81458 33.6693 11.7802 33.9686 11.8917C34.365 12.0393 34.7746 11.8526 34.9149 11.4603C35.016 11.1772 34.8573 10.8138 33.9063 9.151C33.2856 8.06573 32.6836 7.07001 32.5688 6.93849C32.2976 6.62813 31.8208 6.63306 31.5346 6.94929ZM57.2584 6.87013C56.8964 7.15724 54.824 10.867 54.824 11.2279C54.824 11.4141 54.8978 11.6402 54.988 11.7305C55.2028 11.9453 55.8457 11.941 56.026 11.7236C56.4407 11.2241 58.3787 7.68702 58.3787 7.42999C58.3787 6.83157 57.7212 6.50304 57.2584 6.87013ZM37.0505 14.4557C36.5422 14.6508 28.9791 20.1716 28.9063 20.4008C28.8615 20.5423 28.9151 20.7933 29.0257 20.9589C29.3575 21.4558 44.4195 37.2896 44.6414 37.3748C44.7544 37.4182 44.9845 37.386 45.1528 37.3034C45.3211 37.2207 48.9041 33.5146 53.115 29.0674C59.7132 22.099 60.7712 20.9251 60.7712 20.5737C60.7712 20.198 60.5135 19.9809 57.49 17.8094C55.6853 16.5132 53.8453 15.2059 53.4013 14.9041L52.5937 14.3555L44.9247 14.3663C40.7067 14.3722 37.1633 14.4125 37.0505 14.4557ZM34.902 17.7499C33.457 18.7853 32.2318 19.6756 32.179 19.7284C32.1262 19.781 33.5016 19.8242 35.2353 19.8242H38.3875L39.633 17.9039C40.3181 16.8477 40.8787 15.9556 40.8787 15.9215C40.8787 15.8873 40.1251 15.8612 39.2039 15.8635L37.5291 15.8676L34.902 17.7499ZM42.6858 16.0303C42.6086 16.1243 42.0185 17.001 41.3744 17.9785L40.2034 19.7559L44.8003 19.7918C47.3285 19.8116 49.4209 19.8041 49.45 19.775C49.4791 19.746 48.9341 18.853 48.2392 17.7908L46.9754 15.8594H44.9008C43.4071 15.8594 42.7868 15.9072 42.6858 16.0303ZM49.0342 16.2499C49.1731 16.4646 49.7482 17.3567 50.312 18.2323L51.3371 19.8242H54.5384H57.7395L54.9607 17.8418L52.1819 15.8594H50.4817H48.7816L49.0342 16.2499ZM22.0673 16.4746C21.8656 16.7824 21.864 16.848 22.0513 17.1337C22.3142 17.535 26.0279 19.6875 26.457 19.6875C27.084 19.6875 27.4325 18.9758 27.0117 18.5549C26.6025 18.1457 22.9671 16.1328 22.6374 16.1328C22.419 16.1328 22.2085 16.259 22.0673 16.4746ZM65.2902 16.9637C62.6492 18.522 62.6169 18.5462 62.6169 18.971C62.6169 19.4431 62.838 19.6875 63.265 19.6875C63.6161 19.6875 67.3666 17.602 67.6414 17.2541C68.0296 16.7623 67.6679 16.1217 67.0164 16.147C66.8149 16.1548 66.0382 16.5223 65.2902 16.9637ZM32.1499 22.1423C33.2064 23.3194 42.7189 33.3316 42.7534 33.3028C42.7694 33.2895 41.7602 30.5897 40.5109 27.3034L38.2393 21.3281H34.8293H31.4191L32.1499 22.1423ZM39.9525 21.5674C40.0646 21.994 44.7378 34.245 44.8263 34.3438C44.8733 34.3964 45.9548 31.6894 47.2294 28.3281C48.5042 24.9669 49.6277 22.0168 49.7264 21.7725L49.9058 21.3281H44.8978C40.1955 21.3281 39.8936 21.3428 39.9525 21.5674ZM51.3318 21.7995C50.7767 23.128 47.0225 33.123 47.0633 33.1637C47.115 33.2154 58.1446 21.6252 58.2191 21.4409C58.2443 21.3789 56.7491 21.3281 54.8967 21.3281H51.5288L51.3318 21.7995ZM25.3901 38.8977C23.8713 39.2814 21.643 40.2489 17.9382 42.1339C15.8859 43.178 14.1486 43.9964 14.0777 43.9525C14.0067 43.9087 13.766 43.6074 13.5428 43.283C13.3197 42.9587 12.9142 42.5875 12.6419 42.4583C12.0633 42.1838 11.0983 42.1515 10.6419 42.3916C9.78226 42.8437 3.15646 47.5218 2.77077 47.9489C2.28296 48.4892 2.11029 49.1075 2.24577 49.8293C2.30443 50.142 4.1299 52.8991 7.60912 57.9299C10.5101 62.1246 13.0456 65.7334 13.2434 65.9494C13.9293 66.6982 15.0511 66.9315 15.8872 66.4992C16.2823 66.2948 22.6223 61.9404 23.3757 61.3561C23.8774 60.9669 24.1809 60.4379 24.2794 59.7815C24.3498 59.3122 24.2969 59.0543 24.0095 58.467C23.8129 58.0651 23.6521 57.6797 23.6521 57.6103C23.6521 57.3675 24.4944 56.4649 24.7211 56.4649C24.8469 56.4649 28.1493 57.4608 32.0598 58.6782C38.7818 60.7708 39.2293 60.8914 40.2634 60.888C43.4952 60.877 48.3033 58.3643 56.3279 52.4925C57.7942 51.4195 59.8552 49.9266 60.908 49.1747C63.8281 47.0891 64.4376 46.4256 64.817 44.9188C65.2562 43.1747 63.9908 41.2332 62.0017 40.5992C61.197 40.3427 59.6823 40.4014 58.6521 40.7289C58.0758 40.9121 55.7206 42.2078 51.9529 44.4142L46.1423 47.817L45.9955 47.1849C45.7796 46.2554 45.3542 45.5181 44.6697 44.8871C43.8526 44.1341 43.9006 44.1552 40.4365 43.0076C38.7623 42.4528 36.0696 41.4635 34.4529 40.8091C29.7461 38.9037 29.4219 38.805 27.6853 38.7476C26.6665 38.714 25.9261 38.7624 25.3901 38.8977ZM25.7502 40.4074C24.3609 40.7121 22.8124 41.3745 19.0037 43.293C17.011 44.2967 15.2945 45.1733 15.1892 45.2408C15.0401 45.3366 15.8362 46.5757 18.7997 50.861L22.6014 56.3582L23.0243 55.8663C23.4675 55.3506 24.2312 54.9609 24.7988 54.9609C24.9831 54.9609 28.415 55.9802 32.4252 57.226C39.3966 59.3917 39.7555 59.4881 40.6052 59.4233C41.8599 59.3275 43.4609 58.784 45.4157 57.7901C48.4491 56.2477 51.2106 54.4082 58.3992 49.1411C59.7263 48.1686 61.2146 47.0849 61.7065 46.7327C62.8892 45.8861 63.3528 45.1839 63.3619 44.2252C63.367 43.693 63.2921 43.3934 63.0829 43.111C62.1383 41.835 60.2048 41.5442 58.447 42.4136C58.1462 42.5623 55.2103 44.2534 51.9229 46.1714C46.3462 49.4252 45.9221 49.6992 45.5922 50.2621C44.7603 51.6818 43.4678 52.5029 41.9041 52.6054C41.001 52.6646 40.5968 52.5691 34.7425 50.9112C28.1588 49.0468 28.0032 48.9835 28.2327 48.2601C28.4463 47.5873 28.595 47.613 34.9615 49.4184C41.1243 51.166 41.8383 51.3073 42.6946 50.9485C44.3304 50.263 45.0668 48.287 44.2571 46.7559C43.7327 45.7641 43.2514 45.5026 39.9128 44.3948C38.2159 43.8318 35.3481 42.7792 33.5399 42.0558C28.8641 40.1853 27.7943 39.9589 25.7502 40.4074ZM11.3501 43.7143C11.0148 43.846 4.04636 48.6916 3.86206 48.9213C3.768 49.0384 3.69486 49.261 3.69923 49.4158C3.70374 49.5707 6.11943 53.1734 9.06763 57.4219C13.9929 64.5196 14.461 65.1492 14.8359 65.1796C15.1688 65.2066 15.9222 64.7414 18.932 62.6501C21.6047 60.7932 22.6553 59.988 22.7476 59.7255C22.8645 59.3931 22.4446 58.7407 17.6439 51.7959C14.7668 47.6339 12.2619 44.0902 12.0775 43.9209C11.7265 43.5988 11.6788 43.5853 11.3501 43.7143ZM15.2589 57.4718C13.8554 58.3214 13.657 60.3864 14.8801 61.4156C15.7801 62.1729 16.9419 62.2486 17.9031 61.6126C18.4914 61.2232 19.0037 60.3005 19.0037 59.6302C19.0037 59.1221 18.688 58.2999 18.3491 57.925C17.6266 57.1262 16.1803 56.914 15.2589 57.4718ZM15.812 58.9024C15.2686 59.5027 15.7295 60.5664 16.5327 60.5664C16.9899 60.5664 17.4998 60.0297 17.4998 59.5484C17.4998 58.7929 16.3197 58.3413 15.812 58.9024Z" fill="#FFB703"></path></svg>
                                    </div>
                                        <h3 class="font-weight-bold">Our Values</h3>
                                        <p class="text-muted">
                                            Simple actions make a difference. It starts and ends with each employee striving to work safer every single day so they can return.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
    

    <!-- Why Choose Us Section Start -->
    <div class="why-choose-us">
        <div class="container">
            <div class="row section-row">
                <div class="col-lg-12">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">what we do
                        </h3>
                        <h2 class="text-anime-style-3" data-cursor="-opaque">Building the future on a
                            foundation of excellence
                            </h2>
                        <p class="wow fadeInUp" data-wow-delay="0.25s">We specialize in a wide range of construction services, including residential, commercial, and industrial projects. From initial design to final inspection, we work closely with our clients to understand their unique needs and vision.

                        </p>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <!-- Why Choose Item Start -->
                    <div class="why-choose-item wow fadeInUp" data-wow-delay="0.25s">
                        
                        <div class="why-choose-counter">
                            <h3><span class="counter">800</span>+</h3>
                            <p>Buildings Control Approval Rate
                            </p>
                        </div>
                    </div>
                    <!-- Why Choose Item End -->
                </div>
            
                <div class="col-lg-3 col-md-4">
                    <!-- Why Choose Item Start -->
                    <div class="why-choose-item wow fadeInUp" data-wow-delay="0.25s">
                        <div class="why-choose-counter">
                            <h3><span class="counter">800</span>+</h3>
                            <p>Active Construction Management
                            </p>
                        </div>
                    </div>
                    <!-- Why Choose Item End -->
                </div>
            
                <div class="col-lg-3 col-md-4">
                    <!-- Why Choose Item Start -->
                    <div class="why-choose-item wow fadeInUp" data-wow-delay="0.25s">
                        <div class="why-choose-counter">
                            <h3><span class="counter">800</span>+</h3>
                            <p>Completed Projects Every Year
                            </p>
                        </div>
                    </div>
                    <!-- Why Choose Item End -->
                </div>
            
                <div class="col-lg-3 col-md-4">
                    <!-- Why Choose Item Start -->
                    <div class="why-choose-item wow fadeInUp" data-wow-delay="0.25s">
                       
                        <div class="why-choose-counter">
                            <h3><span class="counter">800</span>+</h3>
                            <p>Million Euros Turnover In The 2020
                            </p>
                        </div>
                    </div>
                    <!-- Why Choose Item End -->
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- Why Choose Us Section End -->

   
    <!-- Our Projects Section End -->

    <!-- Cta Box Section Start -->
    <%- include('cta-box.ejs') %>
    <!-- Cta Box Section End -->

   

    <!-- Contact Us Section Start -->
    <div class="contact-us">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-5">
                    <!-- Contact Sidebar Start -->
                    <div class="contact-sidebar wow fadeInUp" data-wow-delay="0.25s">
                        <!-- Contact Info Start -->
                        <div class="contact-info">
                            <div class="icon-box">
                                <img src="images/icon-phone.svg" alt="">
                            </div>
                            <div class="contact-info-content">
                                <p>call support center 24/7</p>
                                <h3>+1 809 120 6705</h3>
                            </div>
                        </div>
                        <!-- Contact Info End -->

                        <!-- Contact Info Start -->
                        <div class="contact-info">
                            <div class="icon-box">
                                <img src="images/icon-mail.svg" alt="">
                            </div>
                            <div class="contact-info-content">
                                <p>write to us</p>
                                <h3>info@domain.com</h3>
                            </div>
                        </div>
                        <!-- Contact Info End -->

                        <!-- Contact Info Image Start -->
                        <div class="contact-info-image">
                            <figure>
                                <img src="images/contact-info-img.png" alt="">
                            </figure>
                        </div>
                        <!-- Contact Info Image End -->
                    </div>
                    <!-- Contact Sidebar End -->
                </div>

                <div class="col-lg-8 col-md-7">
                    <!-- Contact Form start -->
                    <div class="contact-form wow fadeInUp" data-wow-delay="0.25s">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">contact us</h3>
                            <h2 class="text-anime-style-3" data-cursor="-opaque">Get in touch with us</h2>
                        </div>
                        <!-- Section Title End -->

                        <form id="contactForm" action="#" method="POST" data-toggle="validator">
                            <div class="row">
                                <div class="form-group col-md-6 mb-4">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Enter Your name" required="">
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group col-md-6 mb-4">
                                    <input type="email" name="email" class="form-control" id="email" placeholder="Enter Your email" required="">
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group col-md-6 mb-4">
                                    <input type="text" name="phone" class="form-control" id="phone" placeholder="Phone number" required="">
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group col-md-6 mb-4">
                                    <input type="text" name="website" class="form-control" id="website" placeholder="Subject" required="">
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group col-md-12 mb-5">
                                    <textarea name="msg" class="form-control" id="msg" rows="3" placeholder="Message" required=""></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="col-md-12">
                                    <button type="submit" class="btn-default">submit</button>
                                    <div id="msgSubmit" class="h3 hidden"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Contact Form end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Us Section End -->

    <!-- Footer Start -->
    <footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <!-- About Footer Start -->
                    <div class="about-footer">
                        <!-- Footer Logo Start -->
                        <div class="footer-logo">
                            <figure><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.1" width="225" height="60" viewBox="0 0 225 60">
                            <defs>
                            <clipPath id="clip_0">
                            <path d="M163.49259 50.595148 169.27587 47.747316 170.4788 50.190198 164.69553 53.03803 163.49259 50.595148Z"/>
                            </clipPath>
                            <clipPath id="clip_1">
                            <path d="M117.79372 44.861413H127.4424V47.747304H117.79372Z" clip-rule="evenodd"/>
                            </clipPath>
                            <clipPath id="clip_2">
                            <path d="M117.79372 44.861413H127.4424V47.747304H117.79372Z" clip-rule="evenodd"/>
                            </clipPath>
                            <clipPath id="clip_3">
                            <path d="M61.11984 47.747304H169.27587V49.82218H61.11984Z" clip-rule="evenodd"/>
                            </clipPath>
                            <clipPath id="clip_4">
                            <path d="M162.01825 51.550645 170.7415 46.140195 171.95313 48.093694 163.22988 53.504144 162.01825 51.550645Z"/>
                            </clipPath>
                            <clipPath id="clip_5">
                            <path d="M59.04496 23.974215H61.11984V47.747304H59.04496Z" clip-rule="evenodd"/>
                            </clipPath>
                            <clipPath id="clip_6">
                            <path d="M61.861944 27.1175H63.93682V39.567594H61.861944Z" clip-rule="evenodd"/>
                            </clipPath>
                            <clipPath id="clip_7">
                            <path d="M58.673906 46.57053H61.49089V53.07383H58.673906Z" clip-rule="evenodd"/>
                            </clipPath>
                            <clipPath id="clip_8">
                            <path d="M56.405126 50.68048H63.40342V52.962846H56.405126Z" clip-rule="evenodd"/>
                            </clipPath>
                            <clipPath id="clip_9">
                            <path d="M88.28349 27.1175H110.48682V30.808167H88.28349Z" clip-rule="evenodd"/>
                            </clipPath>
                            <clipPath id="clip_10">
                            <path d="M122.313068 41.90181H125.140659V43.97669H122.313068Z" clip-rule="evenodd"/>
                            </clipPath>
                            </defs>
                            <path transform="matrix(.75,0,0,.75,0,0)" d="M0 0H300V80H0Z" fill="none"/>
                            <path transform="matrix(.75,0,0,.75,61.11984,47.728067)" d="M0 0H144.20804V4H0Z" fill="#ffb703"/>
                            <path transform="matrix(.009397198,.7499411,-.7499411,.009397198,63.940244,25.465279)" d="M0 0H32.252847V4H0Z" fill="#ffb703"/>
                            <path transform="matrix(-.64554449,.38180147,-.38180147,-.64554449,83.66411,15.511202)" d="M0 0H32.594648V4H0Z" fill="#ffb703"/>
                            <path transform="matrix(.46242304,.59047856,-.59047856,.46242304,60.353937,10.775562)" d="M0 0H2.9332059V2H0Z" fill="none"/>
                            <path transform="matrix(0,.75,-.75,0,72.75189,.9397888)" d="M0 0H64.976039V4H0Z" fill="#ffb703"/>
                            <path transform="matrix(0,.75,-.75,0,56.046869,.04758644)" d="M0 0H74.51213V4H0Z" fill="#ffb703"/>
                            <path transform="matrix(.7499995,.00081000759,-.00081000759,.7499995,54.548486,.000000014901162)" d="M0 0H24.209939V4H0Z" fill="#ffb703"/>
                            <text fill="#ffffff" xml:space="preserve" transform="matrix(.41497553 0 0 .41497553 86.398509 29.75301)" font-size="40" font-family="CAGenerated"><tspan y="35.99997" x=".0033340455 24.683312 46.883295 67.32328 78.323268 90.32325 102.323238 127.52322 147.9632">RELI  BLE</tspan></text>
                            <path transform="matrix(-.613818,-.43096114,.43096114,-.613818,101.2491,29.911053)" d="M0 0H33.70314V4H0Z" fill="#ffb703"/>
                            <g clip-path="url(#clip_0)">
                            <path transform="matrix(.87254688,-.42966337,.42966337,.87254688,163.49259,50.595148)" d="M0 0H6.6280505V2.7997134H0Z" fill="none"/>
                            </g>
                            <g clip-path="url(#clip_1)">
                            <path transform="matrix(.97259888,0,0,.97259888,117.79372,44.861413)" d="M0 0H9.920515V2.967195H0Z" fill="none"/>
                            </g>
                            <g clip-path="url(#clip_2)">
                            <path transform="matrix(.97259888,0,0,.97259888,117.79372,44.861413)" stroke-width="20.049376" stroke-linecap="butt" stroke-miterlimit="4" stroke-linejoin="miter" fill="none" stroke="none" d="M0 0H9.920515V2.967195H0Z"/>
                            </g>
                            <g clip-path="url(#clip_3)">
                            <path transform="matrix(.97259888,0,0,.97259888,61.11984,47.747304)" d="M0 0H111.203128V2.1333335H0Z" fill="#ffb703"/>
                            </g>
                            <g clip-path="url(#clip_4)">
                            <path transform="matrix(.82652816,-.51264,.51264,.82652816,162.01825,51.550645)" d="M0 0H10.5540909V2.3635H0Z" fill="none"/>
                            </g>
                            <g clip-path="url(#clip_5)">
                            <path transform="matrix(.97259888,0,0,.97259888,59.04496,23.974215)" d="M0 0H2.1333335V24.44285H0Z" fill="none"/>
                            </g>
                            <g clip-path="url(#clip_6)">
                            <path transform="matrix(.97259888,0,0,.97259888,61.861944,27.1175)" d="M0 0H2.1333335V12.800851H0Z" fill="#ffb703"/>
                            </g>
                            <g clip-path="url(#clip_7)">
                            <path transform="matrix(.97259888,0,0,.97259888,58.673906,46.57053)" d="M0 0H2.896348V6.686518H0Z" fill="none"/>
                            </g>
                            <path transform="matrix(0,.75,-.75,0,62.619844,40.43424)" d="M0 0H13.661654V2H0Z" fill="#ffb703"/>
                            <g clip-path="url(#clip_8)">
                            <path transform="matrix(.97259888,0,0,.97259888,56.405126,50.68048)" d="M0 0H7.195458V2.3466666H0Z" fill="none"/>
                            </g>
                            <g clip-path="url(#clip_9)">
                            <path transform="matrix(.97259888,0,0,.97259888,88.28349,27.1175)" d="M0 0H22.828866V3.7946444H0Z" fill="none"/>
                            </g>
                            <path transform="matrix(-.015229999,.7498454,-.7498454,-.015229999,121.68486,39.071847)" d="M0 1C0 .3333333 .3333333 0 1 0H6.7405407C7.407207 0 7.7405407 .3333333 7.7405407 1 7.7405407 1.6666668 7.407207 2 6.7405407 2H1C.3333333 2 0 1.6666668 0 1Z" fill="#ffffff"/>
                            <path transform="matrix(0,.75,-.75,0,127.26889,39.056)" d="M0 1C0 .3333333 .3333333 0 1 0H6.7405407C7.407207 0 7.7405407 .3333333 7.7405407 1 7.7405407 1.6666668 7.407207 2 6.7405407 2H1C.3333333 2 0 1.6666668 0 1Z" fill="#ffffff"/>
                            <path transform="matrix(-.32283188,.6769635,-.6769635,-.32283188,124.556308,34.098299)" d="M0 1C0 .3333333 .3333333 0 1 0H9.127752C9.794419 0 10.127752 .3333333 10.127752 1 10.127752 1.6666668 9.794419 2 9.127752 2H1C.3333333 2 0 1.6666668 0 1Z" fill="#ffffff"/>
                            <path transform="matrix(.34836529,.6641849,-.6641849,.34836529,123.93512,33.29805)" d="M0 1C0 .3333333 .3333333 0 1 0H9.516893C10.18356 0 10.516893 .3333333 10.516893 1 10.516893 1.6666668 10.18356 2 9.516893 2H1C.3333333 2 0 1.6666668 0 1Z" fill="#ffffff"/>
                            <g clip-path="url(#clip_10)">
                            <path transform="matrix(.97259888,0,0,.97259888,122.313068,41.90181)" d="M0 0H2.9072517V2.1333335H0Z" fill="#ffffff"/>
                            </g>
                            <text fill="#ffffff" xml:space="preserve" transform="matrix(.41497553 0 0 .41497553 84.7722 52.962846)" font-size="14.66" font-family="CanvaSans"><tspan y="13.533319" x=".06124878 11.125 22.60382 35.850267 44.688386 48.280885 52.682054 65.9285 75.46794 85.15767 96.63649 106.412097 115.25021 128.49666 137.33478 148.49156 157.03627">HOME IMPROVEMENTS</tspan></text>
                            <path transform="matrix(1,0,0,-1,0,60)" d="M54.545297 57.070558H72.70588V60H54.545297Z" fill-opacity="0"/>
                            <path transform="matrix(1,0,0,-1,0,60)" d="M53.091955 4.1134H56.001787V59.997499H53.091955Z" fill-opacity="0"/>
                            <path transform="matrix(1,0,0,-1,0,60)" d="M69.79698 10.373272H72.70682V59.105298H69.79698Z" fill-opacity="0"/>
                            <path transform="matrix(1,0,0,-1,0,60)" d="M59.09527 46.408037H61.788026V49.18659H59.09527Z" fill-opacity="0"/>
                            <path transform="matrix(1,0,0,-1,0,60)" d="M61.118566 32.128004H83.64116V47.077257H61.118566Z" fill-opacity="0"/>
                            <path transform="matrix(1,0,0,-1,0,60)" d="M80.58741 30.170928H102.94704V47.07715H80.58741Z" fill-opacity="0"/>
                            <path transform="matrix(1,0,0,-1,0,60)" d="M59.04496 12.252697H61.11984V36.025789H59.04496Z" fill-opacity="0"/>
                            <path transform="matrix(1,0,0,-1,0,60)" d="M60.985555 10.355042H64.19824V34.57924H60.985555Z" fill-opacity="0"/>
                            <path transform="matrix(1,0,0,-1,0,60)" d="M61.861948 20.43241H63.936826V32.8825H61.861948Z" fill-opacity="0"/>
                            <path transform="matrix(1,0,0,-1,0,60)" d="M88.2835 29.191836H110.48683V32.882505H88.2835Z" fill-opacity="0"/>
                            <path transform="matrix(1,0,0,-1,0,60)" d="M122.51935 18.875504H127.68626V26.649088H122.51935Z" fill-opacity="0"/>
                            <path transform="matrix(1,0,0,-1,0,60)" d="M119.84375 18.904398H124.64542V26.49115H119.84375Z" fill-opacity="0"/>
                            <path transform="matrix(1,0,0,-1,0,60)" d="M119.96858 15.023251H121.78352V20.861927H119.96858Z" fill-opacity="0"/>
                            <path transform="matrix(1,0,0,-1,0,60)" d="M125.67019 15.039886H127.36759V20.845292H125.67019Z" fill-opacity="0"/>
                            <path transform="matrix(1,0,0,-1,0,60)" d="M122.313068 16.023312H125.140659V18.098189H122.313068Z" fill-opacity="0"/>
                            <path transform="matrix(1,0,0,-1,0,60)" d="M117.79372 12.252697H127.4424V15.138588H117.79372Z" fill-opacity="0"/>
                            <path transform="matrix(1,0,0,-1,0,60)" d="M61.021139 9.2208189H62.71854V19.46706H61.021139Z" fill-opacity="0"/>
                            <path transform="matrix(1,0,0,-1,0,60)" d="M162.01825 6.4958455H171.95313V13.859795H162.01825Z" fill-opacity="0"/>
                            <path transform="matrix(1,0,0,-1,0,60)" d="M163.49259 6.9619858H170.4788V12.252697H163.49259Z" fill-opacity="0"/>
                            <path transform="matrix(1,0,0,-1,0,60)" d="M58.673906 6.92617H61.49089V13.42947H58.673906Z" fill-opacity="0"/>
                            <path transform="matrix(1,0,0,-1,0,60)" d="M61.11984 9.362101H169.27587V12.271934H61.11984Z" fill-opacity="0"/>
                            <path transform="matrix(1,0,0,-1,0,60)" d="M61.11984 10.177819H169.27587V12.252697H61.11984Z" fill-opacity="0"/>
                            <path transform="matrix(1,0,0,-1,0,60)" d="M56.40513 7.037154H63.403425V9.319519H56.40513Z" fill-opacity="0"/>
                            </svg>
                            </figure>
                        </div>
                        <!-- Footer Logo End -->

                        <!-- Footer Content Start -->
                        <div class="footer-content">
                            <p>Our post-construction services gives you peace of mind knowing that we are still here for you even after.</p>
                        </div>
                        <!-- Footer Content End -->
                    </div>

                    <!-- About Footer End -->
                </div>

                <div class="col-lg-3 col-md-4 col-12">
                    <!-- Footer Quick Links Start -->
                    <div class="footer-links">
                        <h3>our services</h3>
                        <ul>
                            <li><a class="nav-link" href="addition-service">Addition 
                            </a></li>
                            <li><a class="nav-link" href="basement">Basement
                            </a></li>
                            <li><a class="nav-link" href="renovation">Renovations
                            </a></li>
                            <li><a class="nav-link" href="roofing">Roofing 
                            </a></li>
                            <li><a class="nav-link" href="siding">Siding</a></li>
                        </ul>
                    </div>
                    <!-- Footer Quick Links End -->
                </div>

                <div class="col-lg-3 col-md-4 col-12">
                    <!-- Footer Links Start -->
                    <div class="footer-links">
                        <h3>company</h3>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="about">About us</a></li>
                            <li><a href="service">Services</a></li>
                            <li><a href="blog">Blog</a></li>
                            <li><a href="contact">Contact us</a></li>
                        </ul>
                    </div>
                    <!-- Footer Links End -->
                </div>

                <div class="col-lg-3 col-md-4 col-12">
                    <!-- Footer Contact Info Box Start -->
                    <div class="footer-links footer-contact-box">
                        <h3>contact us</h3>
                        <!-- Info Box Start -->
                        <div class="footer-info-box">
                            <!-- Icon Box Start -->
                            <div class="icon-box">
                                <img src="images/icon-phone.svg" alt="">
                            </div>
                            <!-- Icon Box End -->
                            <p>+1 809 120 6705</p>
                        </div>
                        <!-- Info Box End -->

                        <!-- Info Box Start -->
                        <div class="footer-info-box">
                            <!-- Icon Box Start -->
                            <div class="icon-box">
                                <img src="images/icon-mail.svg" alt="">
                            </div>
                            <!-- Icon Box End -->
                            <p>info@domain.com</p>
                        </div>
                        <!-- Info Box End -->

                        <!-- Info Box Start -->
                        <div class="footer-info-box">
                            <!-- Icon Box Start -->
                            <div class="icon-box">
                                <img src="images/icon-location.svg" alt="">
                            </div>
                            <!-- Icon Box End -->
                            <p>37 San Juan Lane Graaf Florisstraat 22A,3021 CH</p>
                        </div>
                        <!-- Info Box End -->
                    </div>
                    <!-- Footer Contact Info Box End -->
                </div>
            </div>

            <!-- Footer Copyright Section Start -->
            <div class="footer-copyright">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-7">
                        <!-- Footer Copyright Start -->
                        <div class="footer-copyright-text">
                            <p>Copyright  2024 Reliable Home Improvements. All Rights Reserved. Designed and Developed by <a href="https://innovadetechnologies.in" style="color: #fff; font-weight:800; text-decoration: none;">Innovade Technologies</a></p>
                        </div>
                        <!-- Footer Copyright End -->
                    </div>

                    <div class="col-lg-6 col-md-5">
                        <!-- Footer Social Link Start -->
                        <div class="footer-social-links">
                            <ul>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                        <!-- Footer Social Link End -->
                    </div>
                </div>
            </div>
            <!-- Footer Copyright Section End -->
        </div>
    </footer>
    <!-- Footer End -->

    <!-- Jquery Library File -->
    <script src="js/jquery-3.7.1.min.js"></script>
    <!-- Bootstrap js file -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <!-- Validator js file -->
    <script src="js/validator.min.js"></script>
    <!-- SlickNav js file -->
    <script src="js/jquery.slicknav.js"></script>
    <!-- Swiper js file -->
    <script src="js/swiper-bundle.min.js"></script>
    <!-- Counter js file -->
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <!-- Magnific js file -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <!-- SmoothScroll -->
    <script src="js/SmoothScroll.js"></script>
    <!-- Parallax js -->
    <script src="js/parallaxie.js"></script>
    <!-- MagicCursor js file -->
    <script src="js/gsap.min.js"></script>
    <script src="js/magiccursor.js"></script>
    <!-- Text Effect js file -->
    <script src="js/SplitText.js"></script>
    <script src="js/ScrollTrigger.min.js"></script>
    <!-- Wow js file -->
    <script src="js/wow.js"></script>
    <!-- Main Custom js file -->
    <script src="js/function.js"></script>
    <script src="https://demo.awaikenthemes.com/assets/js/theme-panel.js"></script>
</body>

</html>